<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.happy_call') %></h1>

<table>
  <thead>
    <tr>
      <th rowspan="2"><%=t 'activerecord.attributes.happy_call.calldate' %></th>
      <th colspan="5"><%=t 'caller' %></th>
      <th colspan="5"><%=t 'called' %></th>
      <th rowspan="2"><%=t 'activerecord.attributes.happy_call.calltype' %></th>
      <th colspan="3" rowspan="2">Action</th>
    </tr>
    <tr>
      <th><%=t 'activerecord.attributes.happy_call.brnm' %></th>
      <th><%=t 'activerecord.attributes.happy_call.level' %></th>
      <th><%=t 'activerecord.attributes.happy_call.empnm' %></th>
      <th><%=t 'activerecord.attributes.happy_call.scrno' %></th>
      <th><%=t 'activerecord.attributes.happy_call.content' %></th>
      <th><%=t 'activerecord.attributes.happy_call.team' %></th>
      <th><%=t 'activerecord.attributes.happy_call.callee' %></th>
      <th><%=t 'activerecord.attributes.happy_call.happycalldate' %></th>
      <th><%=t 'activerecord.attributes.happy_call.happycallcontent' %></th>
      <th><%=t 'activerecord.attributes.happy_call.memo' %></th>
    </tr>
  </thead>

  <tbody>
    <% @happy_calls.each do |happy_call| %>
      <tr>
        <td><%= happy_call.calldate %></td>
        <td><%= happy_call.brnm %></td>
        <td><%= happy_call.level %></td>
        <td><%= happy_call.empnm %></td>
        <td><%= happy_call.scrno %></td>
        <td><%= nl2br(happy_call.content).html_safe %></td>
        <td><%= happy_call.team %></td>
        <td><%= happy_call.callee %></td>
        <td><%= happy_call.happycalldate %></td>
        <td><%= nl2br(happy_call.happycallcontent).html_safe %></td>
        <td><%= nl2br(happy_call.memo).html_safe %></td>
        <td><%= happy_call.calltype %></td>
        <td><%= link_to t('show'), happy_call %></td>
        <td><%= link_to t('edit'), edit_happy_call_path(happy_call) %></td>
        <td><%= link_to t('destroy'), happy_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_happy_call'), new_happy_call_path %>
