<p id="notice"><%= notice %></p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.calldate' %>:</strong>
  <%= @happy_call.calldate %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.brnm' %>:</strong>
  <%= @happy_call.brnm %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.level' %>:</strong>
  <%= @happy_call.level %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.empnm' %>:</strong>
  <%= @happy_call.empnm %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.scrno' %>:</strong>
  <%= @happy_call.scrno %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.content' %>:</strong>
  <%= @happy_call.content %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.team' %>:</strong>
  <%= @happy_call.team %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.callee' %>:</strong>
  <%= @happy_call.callee %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.happycalldate' %>:</strong>
  <%= @happy_call.happycalldate %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.happycallcontent' %>:</strong>
  <%= @happy_call.happycallcontent %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.memo' %>:</strong>
  <%= @happy_call.memo %>
</p>

<p>
  <strong><%=t 'activerecord.attributes.happy_call.calltype' %>:</strong>
  <%= @happy_call.calltype %>
</p>

<%= link_to 'Edit', edit_happy_call_path(@happy_call) %> |
<%= link_to 'Back', happy_calls_path %>
